html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=title)
    meta(name="author" content=author)
    title #{name} - #{version}#{dev ? ' (Development Mode)' : ''}

    script(src="/editor/bundle.js")
  body
    svg#diagram-drawing
      g#root-area-group(transform="scale(1)")
        g#grid-area-group
        g#temp-area-group
        g#draw-area-group

    #workspace-editor
      #editor-menu.block-style
        h2 Mode
        h3#current-mode NORMAL
      #controller-menu.block-style
        h2#controller-menu-title Controller
        h3.row
          #start.button Start
          #preview.button Preview
        h3.row
          #import.button Import
          #export.button Export
        h2
          span Filter Node
          input(id="filterNode", type="text")
      #node-list.block-style
      .block-style
        h6#reset RESET EDITOR
