html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=title)
    meta(name="author" content=author)
    title #{name} - #{version}#{dev ? ' (Development Mode)' : ''}

    script(src="/dist/bundle.js")
  body
    ul.nav.nav-pills.justify-content-end
      li.nav-item
        a#process.nav-link.nav-link-custom(href='#') Start Process
      li.nav-item.dropdown
        a.nav-link.nav-link-custom(href='#') Previews
      li.nav-item
        a.nav-link.nav-link-custom(href='#') About

    .d-flex
      #node-preview.flex-column
        #show-mode.p-3 NORMAL
      svg#diagram-drawing
        g#root-area-group(transform="scale(1)")
          g#grid-area-group
          g#temp-area-group
          g#draw-area-group
